* {
    margin-left: auto;
    margin-right: auto;

}

header{
    background-color: rgba(238, 240, 238, 0.4);
    width: 700px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 100px;
}
body{
    background-image: url("../img/discoo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.knappMeny{
    margin-bottom: 20px;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3{
    text-decoration: underline;
    font-size: 25px;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
ul{
    font-size: 40px;
    color: red;
}
li{
    color:red;
    font-size: 20px;
    text-align: left;
    padding-left: 220px
}

.weatherInfo{
    color: red;
    font-size: 19px;
    text-align: left;
    padding-left: 240px
}

input{
    margin-bottom: 20px;
}

p{
    font-size: 20px;
}

#fil{
    width: 170px;
    background-color: red;
}

button{
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: red;
    height: 50px;
    width: 120px;
    border-radius: 50%;
}
textarea{
    background-color: white;
    border-radius: 5px;
        border-width: 5px;
        border-color: red;
        margin: 50px, 50px, 50px, 50px;
}
legend{
    color: white;
    font-weight: bold;
    font-size: 22px;

}
label 
{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 40px;
}

#kommentarBild{
    width: 100%;
    max-width: 500px;
}

#sökordKnapp{
    width: 170px;
}

#gråKnapp{
    background-color: grey;
}

/* Tar bort underline från headern */
a, u{
    text-decoration: none;
}


/* Tabellen med 10 närmsta banorna och deras väder */
.top10table{
background-color: rgb(255, 255, 255);
width: 700px;
height: auto;
box-sizing: border-box;
border: 5px solid  red;
border-radius: 5%;
}

/* Kartan som visar användarens position samt vart de närliggande banorna finns*/
.map{
    background-color: blueviolet;
    width: 700px;
    height: 300px;
    border: 5px solid  red;
    border-radius: 5%;
}

#map{
    height: 400px;
    width: 700px;
    background-color: grey;
}
.kommentarbox {
    margin: auto;
    text-align: left;
    width: 500px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    
}