body{
    background-image: url("discoo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: rgb(130, 221, 145);
}
h3{
    text-decoration: underline;
    color:white;
}
h1{
    color: red;
}

button{
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: red;
    height: 50px;
    width: 120px;
    border-radius: 50%;
}

.top10table{
background-color: aqua;
width: 700px;
}

.map{
    background-color: blueviolet;
    width: 700px;
}