body{
    background-image:("discoo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
    styledimg {
        background-image: url("discoo.jpg");
        background-repeat: no-repeat;
        width: 10px;
        height: 20px;
        }
h1{
    color: red;
}
