* {
    text-align: center;
}

h3{
    text-decoration: underline;
}

.body
{
    background-image:("disco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
h1{
    color: red;
}
